{% extends "base.html" %}

{% load widget_tweaks %}


{% block title %} Inventory List {% endblock title %}


{% block content %}
    
    <div class="row" style="color: #ea2088; font-style: bold; font-size: 3rem; ">
        <div class="col-md-8">Liste d'articles</div>
        <div class="col-md-4">               
            <div style="float:right;"> <a class="btn ghost-blue" href="{% url 'new-stock' %}">Ajouter nouveau article</a> </div>
        </div>
    </div>
    
    <div style="border-bottom: 1px solid white;"></div>
    
    <br>

    <table class="table table-css">

        <form method="get">
            <div class="input-group search">
                {% render_field filter.form.product class="form-control textinput" placeholder="Rechercher produit" %}
                <div class="input-group-append">
                   <button type="submit" class="btn btn-pink"> Recherche </button>
                </div>
            </div>
        </form>

        <br>
        
        <thead class="thead-inverse align-middle">
            <tr>
                <th width="25%">Code Bar</th>
                <th width="30%">Produit</th>
                <th width="10%">Quantité</th>
                <th width="10%">Prix vente</th>
                <th width="25%">Options</th>
            </tr>
        </thead>
                  
{% if object_list %}

        <tbody>         
            {% for stock in object_list %}
                <tr>
                    <td>
                        <h4>{{ stock.name }}</h4>
                    </td>
                    <td class="align-middle">{{ stock.product }}</td>
                    <td class="align-middle">{{ stock.quantity }}</td>
                    <td class="align-middle">{{ stock.price_vente }}</td>
                    <td class="align-middle">
                        <a href="{% url 'edit-stock' stock.pk %}" class="btn ghost-button">Détails</a>
                        <a href="{% url 'delete-stock' stock.pk %}" class="btn ghost-red"> Supprimer </a>
                    </td>          
                </tr>
            {% endfor %}                   
        </tbody>

    </table>  

    <div class="align-middle">
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">Premier</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Précedent</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Suivant</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Dernier</a>
            {% endif %}

        {% endif %}
    </div>

{% else %}

        <tbody></tbody>   
    </table>

    <br><br><br><br><br><br><br><br>
    <div style="color: #ea2088; font-style: bold; font-size: 1.5rem; text-align: center;">WOW, Liste vide</div>

{% endif %}

{% endblock content %}