{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #ea2088; font-style: bold; font-size: 3rem;">Invi</div>
    <div class="align-middle" style="color: #fff">Système de gestion des stocks</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ea2088">| A propos |</h3> <br>
            <p>
                Invi est un logiciel de gestion des stocks simple créé pour les besoins d'une entreprise.
                Le logiciel est capable de suivre le stock entrant et sortant avec une facture rendue dynamiquement.
                Chaque fournisseur dispose d'un profil où il peut consulter l'historique de ses transactions avec l'entreprise.
            </p>
        <br>
    </div>
        <h2 style="color:#ea2088" class="align-middle">| Features |</h3> <br>
            <ul style="display:table; margin:0 auto;">                
                 <li>Graphique interactif pour afficher le stock actuellement disponible</li>
                 <li>Les détails du stock comme le stock actuellement disponible sont conservés</li>
                 <li>Les transactions entrantes sont effectuées par le biais d'achats</li>
                 <li>Les transactions sortantes sont effectuées via les ventes</li>
                 <li>Chaque transaction effectuée via le logiciel est enregistrée</li>
                 <li>La facture est rendue dynamiquement et peut être imprimée</li>
                 <li>Des profils distincts sont maintenus pour les fournisseurs</li>             
            </ul>  
        <br>
    <div class="align-middle">
        <h2 style="color:#ea2088" >| Developpeur |</h3> <br>
            <a target="_blank" href="" >Coding katas</a>
            <br><br><br>
    </div>

{% endblock content %}